<?xml version="1.0" encoding="UTF-8"?>
<suite name="Test Suite" verbose="1">
    <listeners>
        <listener class-name="org.testng.reporters.XMLReporter" />
        <listener class-name="org.testng.reporters.TestHTMLReporter" />
    </listeners>
    <test name="Test">
        <classes>
            <class name="tests.validateLoginPageTest" />
            <class name="tests.VerifyMainScreenButtonsTest" />
        </classes>
    </test>
</suite>
